.circle {
  border: none;
  box-shadow: none;
  font-size: inherit;
  font-family: inherit;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  background-color: #21b6d6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.activeCircle {
  background: url(../../images/bug.png) no-repeat center center/cover;
  color: aqua;
}

.endGame {
  pointer-events: none;
}

.wrongCircle {
  background-color: red;
  border: 4px solid red;
}
