.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th,
td {
  border: 1.5px solid #cfc2c2;
  padding: 8px;
  text-align: left;
  color: white;
}

th {
  background-color: #f2f2f234;
}

tr:nth-child(even) {
  background-color: #f2f2f234;
}
