table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

.visibleScore {
  display: flex;
}

th,
td {
  border: 1.5px solid #cfc2c2;
  padding: 8px;
  text-align: left;
  color: black;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}
