.gamePage {
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.gameName {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 3rem;
  color: #f1f1f1;
}

h2 {
  color: #f1f1f1;
}

.gameCard {
  margin-top: 6rem;
  background-color: #323233;
  width: 850px;
  min-height: 550px;
  border-radius: 15px;
  position: fixed;
}

.buttonsCircle {
  height: 12rem;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.button_start {
  margin-top: 3rem;
  border: none;
  box-shadow: none;
  border-radius: 50px;
  padding: 0.5rem 1.5rem;
  width: 12rem;
  height: 3.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: inherit;
  background-color: yellowgreen;
}

/* Lives  */
.lives {
  position: absolute;
  top: 0.2rem;
  left: 1rem;
  padding: 0.2rem;
  margin-top: 1rem;
  background-color: #27272740;
  border-radius: 5px;
  display: flex;
}

.bug_1 {
  color: #fe5f58;
}

.bug_2 {
  color: #febc2e;
}

.bug_3 {
  color: #2bc840;
}

.bug_3_lose {
  color: #2bc8401a;
}

.bug_2_lose {
  color: #febc2e1a;
}

.bug_1_lose {
  color: #fe5f581a;
}

.backMain {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  margin-top: 1rem;
}

.backBtn {
  background: #323233;
  border: none;
}

.back {
  color: white;
  font-size: 2.5rem;
}

.scoreBoard {
  position: absolute;
  top: 0.8rem;
  right: 1.5rem;
}

.board {
  background: #323233;
  border: none;
}

.borderInfo {
  color: white;
  font-size: 2.3rem;
}
